<?php
/** @var $block \Meetanshi\WhatsappShareCart\Block\WhatsappShareCart */
$storeId = $block->getCurrentStoreId();
if($block->showButton()):
?>

<div id="quickorder_newcart"  class="action">
    <a href="<?php echo $block->getNewCartUrl(); ?>">
        <span id="icon_newcart">Novo Carrinho</span>
    </a>
</div>

<script type="text/javascript">
require(['jquery'], function ($) {
    $(document).ready(function () {
    });
});
</script>
<?php endif;?>
