<?php
/**
 * @var \Eparts\QuickOrder\Block\Adminhtml\Order\View\Dealer $block
 */

$dataDealer = $block->getDataDealer();
?>

<?php if ($dataDealer): ?>
<section class="admin__page-section order-dealer">
    <div class="admin__page-section-title">
        <span class="title">Dados do Vendedor</span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-dealer">
            <div class="admin__page-section-item-title">
                <p>Nome: <strong><?= $dataDealer['name'] ?></strong></p>
                <p>Documento: <strong><?= $dataDealer['document'] ?></strong></p>

            </div>
        </div>
    </div>
</section>
<?php endif; ?>