<h1>Customer</h1>

<div class="customer">
    <div class="control">
        <input class="amqorder-input" placeholder="Buscar cliente por CPF/CNPJ ou NOME" type="text" id="customer-quick-order" />
        <div id="autocomplete-results">
            <ul> </ul>
        </div>
    </div>
</div>
