<?php

/**
 * @var Eparts\QuickOrder\Block\Customer $block
 */

$ids = $block->getCustomersByDealer();
$idsString = implode(',', $ids);
$customerSelected = $block->getCustomerSelect();
?>

<?php if (!empty($ids)): ?>
<section id="eparts-quickorder-customer" class="amqorder-search" style="padding: 30px 15px 35px" data-bind="scope:'quick-order-customer'">
    <div class="customer">
        <div class="control">
            <input <?php echo ($customerSelected) ? '' : 'checked' ?> type="checkbox" id="emptyCustomer" /> Não vincular carrinho a nenhum cliente
        </div>
        <br />
        <div class="control">
            <input value="<?php echo $customerSelected ?>" class="amqorder-input" placeholder="Buscar cliente por CPF/CNPJ ou NOME" type="text" id="customer-quick-order" />
            <div id="autocomplete-results">
                <ul> </ul>
            </div>
        </div>
    </div>
</section>
<?php endif; ?>

<script type="text/javascript">
    require(['jquery'], function ($) {
        $(document).ready(function () {
            $('#customer-quick-order').keyup(function () {
               var value = this.value;
               var ids = '<?php echo $idsString ?>';

               if (value.length < 3) {
                   $('#autocomplete-results ul').html('');
                   return;
               }

               $.ajax({
                   url: window.BASE_URL + 'eparts_quickorder/customer/search?value='+value+'&ids='+ids,
               }).done(function (data) {
                   if(data.length > 0) {
                       var content = '';
                       $.each(data, function (index, value) {
                           var link = window.BASE_URL + 'eparts_quickorder/customer/save?idCustomer=' +
                               value.id + '&group=' + value.group_id + '&name=' + value.name;
                           content +=  '<li><a href="'+link+'">'+value.name+'</a></li>'
                       });

                       $('#autocomplete-results ul').html(content);
                   }
               })
            });
        });


        $('#emptyCustomer').click(function(){
            if ($(this).attr('checked') && $('#customer-quick-order').val().length > 0) {
               location.href = window.BASE_URL + 'eparts_quickorder/customer/save?idCustomer=0';
            }
        })
    })
</script>
